.body{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  background: #212529;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}

.button{
  width: max-content;
  height: max-content;
  background: #ffffff;
  cursor: pointer;
  border-radius: 10px;
  padding: 10px;
  font-size: 30px;
  color: #212529;
}

.button p{
  margin: 0;
}

.button:hover{
  text-decoration: underline;
}

.name-project{
  width: auto;
  height: auto;
  background: #ffffff;
  padding: 10px;
  border-radius: 10px;
  color: #212529;
  cursor: pointer;
  font-size: 30px;
}

.name-project p{
  margin: 0;
}


@media screen and (max-width: 753px) {
  .body{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    background: #212529;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
  }

  .button{
    width: max-content;
    height: max-content;
    background: #ffffff;
    cursor: pointer;
    border-radius: 10px;
    padding: 10px;
    font-size: 15px;
    color: #212529;
    margin-top: 10px;
  }

  .name-project{
    width: auto;
    height: auto;
    background: #ffffff;
    font-size: 15px;
    border-radius: 10px;
    color: #212529;
    cursor: pointer;
  }
}
